<!doctype html>
<html lang="en" xmlns:p="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
</head>
<body>
<form action="/Teacher/add.do" method="post">
    id:<input type="text" name="id"><br/>
    name:<input type="text" name="name"><br/>
    password:<input type="text" name="password"><br/>
    sex:<div class="form-check">
    <input class="form-check-input" type="radio" name="sex" id="flexRadioDefault1" th:value="1">
    <label class="form-check-label" for="flexRadioDefault1">
        男
    </label>
</div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="flexRadioDefault2" checked th:value="0">
        <label class="form-check-label" for="flexRadioDefault2">
            女
        </label>
    </div>
    birthday:<input type="text" name="birthday"><br/>
    courseId:<input type="text" name="courseId"><br/>
    professional:<input type="text" name="professional"><br/>

    <input type="submit" value="add teacher">
</form>

<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
</body>
</html>