<!doctype html>
<html lang="en" xmlns:p="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
</head>
<body>
<div align="center"><h1>课程信息</h1></div>

<table class="table table-striped">
    <tr><td>id</td><td>name</td><td>teacher_id</td><td>教师</td>
    </tr>
    <tr th:each="course:${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td>
            <div th:each="teacher:${course.teachers}">
                <span th:text="${teacher.id}"/>
            </div>
        </td>
        <td >
            <div th:each="teacher:${course.teachers}">
                <span th:text="${teacher.name}"/>
            </div>
        </td>
    </tr>
</table>

<!--<div align="center"><a  href="#" class="list-group-item" onclick="loadPage('/Teacher/toAdd.do')">增加教师</a> </div>-->
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
</body>
</html>